# PySpark dependencies
pyspark==3.3.1

# Apache Flink dependencies
apache-flink==1.15.2
flink-sql-client==1.15.2

# Other common dependencies
pandas==1.5.3
numpy==1.23.4
boto3==1.26.38  # For AWS integration
sqlalchemy==1.4.42  # For SQL database interactions
pyarrow==9.0.0  # For enhanced data interchange
fastparquet==2023.1.0  # For Parquet file processing
openpyxl==3.0.10  # For Excel file processing

# Utilities
requests==2.28.1  # For making HTTP requests
python-dateutil==2.8.2  # For parsing dates
pytz==2023.3  # For timezone handling
